# Auto detect text files and perform LF normalization
* text=auto

# Git LFS for Large Binary Datasets & Model Checkpoints
*.pt filter=lfs diff=lfs merge=lfs -text
*.feather filter=lfs diff=lfs merge=lfs -text

